.option-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 2px;
}

.option-message {
  background-color: #04AA6D;
  color: white;
  font-size: 80%;
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  min-width: 10%;
  max-width: 90%;
  width: fit-content;
  opacity: 0.8;
  margin-right: auto;
  margin-left: auto;
}

.option-message:hover {
  opacity: 1;
}

.option-message:focus {
  outline: none;
}

.negative {
  background-color: red;
  color: white;
}

.positive {
  background-color: green;
  color: white;
}

.back-button {
  background-color: #04AA6D;
  color: white;
  font-size: 80%;
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  min-width: 10%;
  max-width: 90%;
  width: fit-content;
  opacity: 0.8;
  margin-right: auto;
  margin-left: auto;
}

.back-button:hover {
  opacity: 1;
}

.back-button:focus {
  outline: none;
}

.modal-user {
  border: 1px solid black;
  border-radius: 9px;
  padding: 5px;
  margin-left: 5px;
  font-size: 15px;
}

.modal-buttons {
  display: grid;
  gap: 5px;
  grid-template-columns: auto auto auto;
}

.modal-buttons button {
  border-radius: 10px;
}

.modal-button {
  border-radius: 8px;
}

h7 {
  font-size: 15px;
}