.questions-box {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  margin-top: 2px;
  max-height: 30%;
  overflow-y: scroll;
  border-top: 2px solid #663366;
  padding: 2px;
}

.questions-message {
  background-color: #0099cc;
  color: white;
  font-size: 80%;
  border: 0px solid transparent;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  min-width: 20%;
  max-width: 90%;
  width: fit-content;
  opacity: 0.8;
  margin-right: auto;
  margin-left: auto;
}

.questions-message:hover {
  opacity: 1;
}

.questions-message:focus {
  outline: none;
}